{% extends "base.html" %}
{% block content %}
    <table>
        <thead>
            <th>Title</th>
            <th>Acronym</th>
            <th>Description</th>
        </thead>
        <tbody>
            {% for entry in entries %}
            <tr>
                <td>
                    {{ entry.title }}
                </td>
                <td>
                    {% if entry.acronym %}
                        {{ entry.acronym }}
                    {% endif %}
                </td>
                <td>
                    {{ entry.description }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
